* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Urbanist, ststem-ui, Avenir, Helvetica, Arial, sans-sarif;
    color-scheme: dark;
}

:root {
    --bg-color: #f4f3ff;
    --btn-color: #646cff;
    --dark-color: #242424;
    --helper-color: #99b9ff;
}

html {
    font-size: 62.5%;
}

/* base style */

body {
    margin: 0px;
    min-height: 100vh;
}

h1 {
    font-size: 5.4rem;
    line-height: 1.1;
    font-weight: bold;
}

p,
li,
label,
input,
textarea {
    font-size: 1.8rem;
    line-height: 1.56;
    letter-spacing: 0.1rem;
    word-spacing: 0.06rem;
}

a {
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: var(--btn-color);
    text-decoration: inherit;
}

li {
    list-style: none;
}

.main-heading {
    border-bottom: 3px solid #646cff;
    margin-bottom: 10px;
}

/* layout Rule */

.container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    padding: 4rem 2.4rem;
    margin: 0 auto;
}

section {
    margin-top: 100px;
}

.grid {
    display: grid;
    gap: 6.4rem;
}

.grid-tow-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-four-cols {
    grid-template-columns: repeat(4, 1fr);
}

/*? Module Rules / Reusable */
button {
    text-transform: capitalize;
    padding: 1rem 2.2rem;
    font-size: 1.7rem;
    font-weight: 500;
    background-color: var(--btn-color);
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    border: 0.1rem solid transparent;
    cursor: pointer;
    letter-spacing: 0.1rem;
    transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: all 0.3s ease;
}

.secondary-btn {
    background-color: transparent;
    box-shadow: inset 0 0 0 0.2rem var(--btn-color);
    margin-left: 3.2rem;
}

.secondary-btn3 {
    background-color: transparent;
    box-shadow: inset 0 0 0 0.2rem var(--btn-color);
    margin-right: 3.2rem;
}

button:hover {
    box-shadow: inset 0 0 0 0.2rem var(--bg-color);
}

/* react custom toastify */
.custom-toast {
    font-size: 1.7rem;
}


/* Form Styling */
.registration-form {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.registration-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.registration-image img {
    max-width: 100%;
    height: auto;
}


.main-heading {
    font-size: 24px;
    font-weight: bold;
}

.form-child {
    margin-top: 20px;
}

.registration-form label {
    font-size: 16px;
    font-weight: bold;
}

.registration-form input[type="email"] {
    text-transform: lowercase;
}


.registration-form input,
.registration-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
}


/* home page  */
.section-hero {

    & .grid {
        align-items: center;
    }

    & h1 {
        font-size: 42px;
    }

    & p {
        margin: 2.4rem 0 4.8rem 0;

        &:first-child {
            margin: 0 0 1.2rem;
        }
    }

    .hero-image {
        display: flex;
        justify-content: center;

        & img {
            width: 100%;
            height: auto;
        }
    }
}

/* *********** start section-service ********* */     
.grid-three-cols {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  
  .card {
    background: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .card:hover {
    box-shadow: 0 6px 25px rgba(255, 255, 255, 0.768);
  }
  
  .card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .card-details {
    padding: 0.5rem;
    flex: 1;
  }
  
  .card-details h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    color: #1e293b;
  }
  
  .card-details p {
    font-size: 1.4rem;
    color: #475569;
    margin: 0.5rem 0;
  }
  
  .card-details .grid-two-cols {
    font-size: 1.2rem;
    color: #0f172a;
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 768px) {
      .section-services .main-heading {
          font-size: 2.2rem;
    }
  
    .card-details h2 {
        font-size: 1.6rem;
    }
    
    .card-details p {
        font-size: 1.2rem;
    }
    
    .card-details .grid-two-cols {
        font-size: 1rem;
    }
}
@media (max-width: 342px) {
    .card {
        margin-left: -17px;
    }
}
  
/* *********** End section-service ********* */
/* *********** section-analytics ********* */
.section-analytics {
    margin: 9.6rem 0;
}

.section-analytics .container {
    background: var(--bg-color);
    border-radius: 1rem;
    padding: 2rem;
}

.section-analytics .div1 {
    text-align: center;
    padding: 2rem;
    border-right: 0.2rem solid var(--dark-color);
    color: var(--dark-color);
}

.section-analytics .div1:last-child {
    border-right: none;
}

.section-analytics .div1 h2 {
    font-size: 4.8rem;
    font-weight: bold;
}

.section-analytics .div1 p {
    text-transform: capitalize;
    font-size: 1.6rem;
}


/* *********** End section-analytics ********* */
/* *********** section-About ********* */
.about-container {
    margin: 2.6rem 0;

    & p {
        margin: 1.4rem 0 2.8rem 0;
    }
}

/* *********** End section-About ********* */
/* *********** section-Contacts ********* */
.map-container {
    width: 78%;
    height: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* *********** end section-Contacts ********* */
/* *********** section-Error ********* */
/* Error Page */
#error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: transparent;
}

#error-page .content {
    max-width: 70rem;
    text-align: center;
}

/* Gradient Text Animation */
.content h2.header {
    font-size: 18vw;
    line-height: 1em;
    font-weight: bold;
    animation: animate 10s ease-in-out infinite;
    background: -webkit-repeating-linear-gradient(-60deg,
            #71b7e6,
            var(--btn-color),
            #b98acc,
            #ee8176,
            #b98acc,
            var(--btn-color),
            #9b59b6);
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    /* Remove extra white shadow */
    position: relative;
    -webkit-animation: animate 10s ease-in-out infinite;
}

/* Gradient Animation */
@keyframes animate {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

/* Subheading */
.content h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--btn-color);
}

/* Buttons */
.content .btns {
    margin: 25px 0;
    display: inline-flex;
    justify-content: center;
}

.content .btns a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 25px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.content .btns a:hover {
    background: var(--btn-color);
    color: #fff;
}


/* *********** end section-Error ********* */




@media (max-width: 856px) {
    .grid-four-cols {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-analytics .container {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .grid-tow-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-four-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .secondary-btn {
        margin: 1rem 0;
    }

    .secondary-btn3 {
        margin: 1rem 0;
    }

    .container {
        width: 100vw;
        padding: 5px 10rem;
    }

    .registration-form {
        margin: 0px auto;
    }

    .map-container {
        margin-top: 50px;
    }
}

@media (max-width: 450px) {
    .grid-four-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        width: 100vw;
        padding: 5px 3rem;
    }
}